body {
  font-family: 'Roboto', sans-serif;
  font: 130% sans-serif;
  font-weight: 100;
  line-height: 1.8em;
  color: #13364f;
  margin: 0; }

h1 {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  line-height: 1em;
  letter-spacing: 6px;
  padding-top: 25px;
  text-align: center; }

#container {
  width: 1400px;
  background-color: white;
  margin: 0 auto;
  padding: 0px; }

#header {
  background-image: url("/images/header_bg.jpg");
  height: 637px;
  margin: 0; }

#header .main-logo {
  padding-top: 100px;
  padding-left: 602px; }

#header .row {
  padding-left: 25px;
  padding-top: 22px;
  margin: 0 auto; }

#header .fbook-circle {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 12px;
  background-color: #256299; }

#header .twitt-circle {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 12px;
  background-color: #378bb7; }

#header .insta-circle {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: #246485; }

#header .fine-rule {
  display: inline-block;
  position: relative;
  top: -109px;
  left: 379px;
  width: 615px;
  height: 1px;
  background-color: white;
  margin-top: 100px; }

#main, #contact {
  background-color: white;
  width: 1020.08px;
  height: 630px;
  padding-top: 85px;
  padding-left: 100px;
  margin-left: 162px; }

#left-col {
  width: 246px;
  float: left;
  margin-right: 100px; }

#left-col h2 {
  font: 133% sans-serif;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 3.2px;
  color: #2c699d; }

.rule {
  width: 277px;
  min-height: 9px;
  margin-bottom: -10px;
  background-color: #2c699d; }

#right-col {
  width: 660px;
  float: left; }

#right-col p {
  margin-top: -10px;
  padding-top: 0;
  margin-bottom: 30px; }

#clients {
  background-image: url("/images/clients_bg.jpg");
  background-size: auto;
  text-align: center;
  height: 783px;
  margin: 0 auto; }

#clients .client-square {
  width: 226px;
  height: 226px;
  background-color: rgba(16, 39, 57, 0.97);
  display: inline-block;
  margin: 11.5px; }

#clients-heading {
  position: relative;
  top: 50px;
  text-align: center; }

#clients-heading .fine-rule {
  display: inline-block;
  position: relative;
  top: -119px;
  width: 370px;
  height: 1px;
  background-color: white;
  margin-top: 100px; }

#contact {
  display: flex; }

.left-col {
  flex: 1.4; }

#contact h2 {
  text-transform: uppercase;
  font-size: 47px;
  margin: 0px; }

#contact .fine-rule {
  display: inline-block;
  position: relative;
  top: -8px;
  width: 560px;
  height: 1px;
  background-color: #13364f; }

#contact p span {
  font-weight: bold;
  text-transform: uppercase;
  flex: 1;
  margin: 0px; }

.right-col {
  flex: 1; }

form#contact {
  width: 336px;
  height: 350px;
  padding: 0px;
  margin: 0 auto; }

form#contact ol {
  margin: 0;
  padding: 0px; }

form#contact ol li {
  list-style: none;
  margin: 0px; }

form#contact input, form#contact textarea {
  background-color: #f2f3f3;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: #c9d7e3 solid 4px;
  padding-left: 14px;
  padding-top: 10px; }

form#contact input {
  width: 336px;
  height: 53px;
  margin-bottom: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  form#contact input.placeholder {
    text-transform: uppercase;
    font-size: 17.66px; }
  form#contact input:-moz-placeholder {
    text-transform: uppercase;
    font-size: 17.66px; }
  form#contact input::-webkit-input-placeholder {
    text-transform: uppercase;
    font-size: 17.66px; }

form#contact textarea {
  width: 336px;
  height: 132px;
  margin-bottom: 18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  form#contact textarea.placeholder {
    text-transform: uppercase;
    font-size: 22px; }
  form#contact textarea:-moz-placeholder {
    text-transform: uppercase;
    font-size: 22px; }
  form#contact textarea::-webkit-input-placeholder {
    text-transform: uppercase;
    font-size: 22px; }

form#contact button {
  width: 336px;
  height: 53px;
  background-color: #2c699d;
  border: none;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px; }

#footer {
  height: 90px;
  background-color: #13364f;
  color: white;
  font-size: 18px;
  margin: 0 auto;
  padding-top: 22px;
  padding-left: 157px; }

#footer span {
  padding-left: 690px; }
