body {
  font: 130% Helvetica, sans-serif;
  font-weight: 100;
  line-height: 1.8em;
  color: #13364f;
  margin: 0; }

h1 {
  font-size: 50px;
  color: white;
  font-variant: small-caps;
  font-family: sans-serif;
  line-height: 1em;
  letter-spacing: 6px;
  padding-top: 25px;
  text-align: center; }

#container {
  width: 1400px;
  height: 5000px;
  background-color: white;
  margin: 0 auto;
  padding: 0px; }

#header {
  background-image: url("/images/header_bg.jpg");
  height: 637px;
  margin: 0; }

#header .main-logo {
  padding-top: 100px;
  padding-left: 602px; }

#header .row {
  padding-left: 25px;
  padding-top: 22px;
  margin: 0 auto; }

#header .fbook-circle {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 12px;
  background-color: #256299; }

#header .twitt-circle {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-right: 12px;
  background-color: #378bb7; }

#header .insta-circle {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: #246485; }

#main {
  background-color: white;
  width: 1020.08px;
  height: 630px;
  padding-top: 85px;
  padding-left: 100px;
  margin-left: 162px; }

#left-col {
  width: 246px;
  float: left;
  margin-right: 100px; }

#left-col h2 {
  font: 133% Helvetica, sans-serif;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 3.2px;
  color: #2c699d; }

.rule {
  width: 277px;
  min-height: 9px;
  margin-bottom: -10px;
  background-color: #2c699d; }

#right-col {
  width: 660px;
  float: left; }

#right-col p {
  margin-top: -10px;
  padding-top: 0;
  margin-bottom: 30px; }

#clients {
  background-image: url("/images/clients_bg.jpg");
  background-size: auto;
  text-align: center;
  height: 783px;
  margin: 0 auto; }

#clients .client-square {
  width: 226px;
  height: 226px;
  background-color: rgba(16, 39, 57, 0.97);
  float: left;
  margin-right: 23px; }

#clients .row {
  display: inline-block;
  margin-bottom: 23px; }

#clients-heading {
  text-align: center; }

#clients-heading .fine-rule {
  display: inline-block;
  width: 341px;
  min-height: 1px;
  padding-top: -150px;
  background-color: white;
  margin-top: -100px; }
