// styles.scss

//variables
$font-stack:sans-serif;
$primary-color:#13364f;
$soda-blue:#3784c5;
$dark-blue:darken($soda-blue, 10%);
$blue-black:darken($soda-blue, 35%);
$column-width:82px;
$fbook-blue:#256299;
$twitt-blue:#378bb7;
$insta-blue:#246485;

//mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin placeholder {
  &.placeholder { @content }
  &:-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
}



//globals

body {
  font: 130% $font-stack;
  font-weight: 100;
  line-height: 1.8em;
  color: $primary-color;
  margin: 0;
}

h1 {
  font-size: 50px;
  color:white;
  text-transform:uppercase;
  font-family:sans-serif;
  line-height: 1em;
  letter-spacing:6px;
  padding-top:25px;
  text-align: center;
}

#container {
  width: 1400px;
  //height: 5000px;
  background-color: white;
  margin: 0 auto;
  padding: 0px;
}



//Header

#header {
  background-image: url("/images/header_bg.jpg");
  height:637px;
  margin: 0;
}

#header .main-logo {
  padding-top: 100px;
  padding-left: 602px;
}

#header .row {
  padding-left: 25px;
  padding-top:22px;
  margin: 0 auto;
}

#header .fbook-circle {
  @include border-radius(20px);
  width:40px;
  height:40px;
  display: inline-block;
  margin-right: 12px;
  background-color: $fbook-blue;
}

#header .twitt-circle {
  @include border-radius(20px);
  width:40px;
  height:40px;
  display: inline-block;
  margin-right: 12px;
  background-color: $twitt-blue;
}

#header .insta-circle {
  @include border-radius(20px);
  width:40px;
  height:40px;
  display: inline-block;
  background-color: $insta-blue;
}

#header .fine-rule {
  display:inline-block;
  position:relative;
  top:-109px;
  left: 385px;
  width:616px;
  height:1px;
  background-color:white;
  margin-top:100px;
}
//Main
#main,  #contact{
  background-color: white;
  width:12.44 * $column-width;
  height: 630px;
  padding-top:85px;
  padding-left: 100px;
  margin-left: 162px;
}

#left-col{
  width: 3 * $column-width;
  float:left;
  margin-right: 100px;
  }

#left-col h2 {
  font: 133% $font-stack;
  text-transform:uppercase;
  font-weight: 600;
  letter-spacing: 3.2px;
  color:$dark-blue;
}

.rule {
  width :277px;
  min-height: 9px;
  margin-bottom: -10px;
  background-color: $dark-blue;
}

 #right-col{
  width: 660px;
  float: left;
}

#right-col p {
  margin-top: -10px;
  padding-top: 0;
  margin-bottom: 30px;
}
//Clients
#clients {
  background-image: url("/images/clients_bg.jpg");
  background-size: auto;
  text-align: center;
  height:783px;
  margin: 0 auto;
}

 #clients .client-square {
   width:226px;
   height: 226px;
   background-color:rgba($blue-black, .97);
   display: inline-block;
   margin:11.5px;
   }

#clients-heading {
  position:relative;
  top:50px;
  text-align: center;
  }

#clients-heading .fine-rule {
  display:inline-block;
  position:relative;
  top:-119px;
  width:341px;
  height:1px;
  background-color:white;
  margin-top:100px;
}
//Contact
#contact{
  display:flex;
}
.left-col {
flex:1.4;
}

#contact h2 {
  text-transform: uppercase;
  font-size: 47px;
  margin: 0px;
}

#contact .fine-rule
{
  display:inline-block;
  position:relative;
  top:-8px;
  width:560px;
  height:1px;
  background-color:$primary-color;
  //margin-top:100px;
}

#contact p span {
  font-weight : bold;
  text-transform: uppercase;
  flex:1;
  margin :0px;
}

.right-col {
  flex:1;
  }


form#contact {
  width:336px;
  height:350px;
  padding: 0px;
  margin: 0 auto;
}

form#contact ol{
  margin: 0;
  padding:0px;
}
form#contact ol li {
  list-style: none;
  margin: 0px;
}

%fields {
  background-color:#f2f3f3;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: #c9d7e3 solid 4px;
  padding-left: 14px;
  padding-top: 10px;
}

form#contact input{
  width: 336px;
  height: 53px;
  margin-bottom: 18px;
  @extend %fields;
  @include placeholder {
    text-transform: uppercase;
    font-size: 17.66px;
      }
      -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
}

form#contact textarea{
  width: 336px;
  height: 132px;
  margin-bottom: 18px;
  @extend %fields;
  @include placeholder {
    text-transform: uppercase;
    font-size: 17.66px;
  }
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

form#contact button{
  width: 336px;
  height: 53px;
  background-color: $dark-blue;
  border: none;
  text-transform: uppercase;
  color:white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

#footer {
  height:90px;
  background-color: $primary-color;
  color:white;
  font-size: 18px;
  margin: 0 auto;
  padding-top:22px;
  padding-left:157px;
}

#footer span {
  padding-left: 690px;
}
