// styles.scss

//variables
$font-stack:    Lato, sans-serif;
$primary-color:#13364f;
$soda-blue:#3784c5;
$dark-blue:darken($soda-blue, 10%);
$blue-black:darken($soda-blue, 35%);
$column-width:82px;
$fbook-blue:#256299;
$twitt-blue:#378bb7;
$insta-blue:#246485;

//mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

body {
  font: 130% $font-stack;
  font-weight: 100;
  line-height: 1.8em;
  color: $primary-color;
  margin: 0;
}

h1 {
  font-size: 50px;
  color:white;
  font-variant: small-caps;
  font-family:sans-serif;
  line-height: 1em;
  letter-spacing:6px;
  padding-top:25px;
  text-align: center;
}

#container {
  width: 1400px;
  height: 5000px;
  background-color: white;
  margin: 0 auto;
  padding: 0px;
}

#header {
  background-image: url("/images/header_bg.jpg");
  height:637px;
  margin: 0;
}

#header .main-logo {
  padding-top: 100px;
  padding-left: 602px;
}

#header .row {
  //width: 200px;
  padding-left: 25px;
  padding-top:22px;
  margin: 0 auto;
}

#header .fbook-circle {
  @include border-radius(20px);
  width:40px;
  height:40px;
  display: inline-block;
    margin-right: 12px;
    background-color: $fbook-blue;
}

#header .twitt-circle {
  @include border-radius(20px);
  width:40px;
  height:40px;
  display: inline-block;
    margin-right: 12px;
    background-color: $twitt-blue;
}

#header .insta-circle {
  @include border-radius(20px);
  width:40px;
  height:40px;
  display: inline-block;
  background-color: $insta-blue;
}

#main {
  background-color: white;
  width:12.44 * $column-width;
  height: 630px;
  padding-top:85px;
  padding-left: 100px;
  margin-left: 162px;
}

#left-col{
  width: 3 * $column-width;
  float:left;
  margin-right: 100px;
  }

#left-col h2 {
  font: 133% $font-stack;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 3.2px;
  color:$dark-blue;
}

.rule {
  width :277px;
  min-height: 9px;
  margin-bottom: -10px;
  background-color: $dark-blue;
}

 #right-col{
  width: 660px;
  float: left;
}

#right-col p {
  margin-top: -10px;
  padding-top: 0;
  //margin-right: 75px;
  margin-bottom: 30px;

}

#clients {
  background-image: url("/images/clients_bg.jpg");
  background-size: auto;
  text-align: center;
  height:783px;
  margin: 0 auto;
}

 #clients .client-square {
   width:226px;
   height: 226px;
   background-color:rgba($blue-black, .97);
   float:left;
   margin-right:23px;
 }

#clients .row {
  display: inline-block;
  //margin-top: 90px;
  margin-bottom:23px;
}

#clients-heading {
  text-align: center;
  //margin-bottom: -100px;
}

#clients-heading .fine-rule {
  display:inline-block;
  width :341px;
  min-height: 1px;
  padding-top: -150px;
  background-color: white;
  margin-top: -100px;
}
